@import 'tailwindcss';




/* Import des fonts */

@font-face {
    font-family: Gotham-Bold;
    src: url(/assetes/fonts/Gotham-Bold.otf);
    font-family: Shrikhand-Regular;
    src: url(./assetes/fonts/Shrikhand-Regular.ttf);
}


h1,
h2,
h3 {
    font-family: "Shrikhand-Regular";
    color: #191998;
}

body {
    font-family: "Gotham-Bold";

    background-image: url("/assetes/images/bg-mobile.png");
    background-size: cover;
    background-position: center;
    /* center à supprimer ? Aspect différent selon les pages*/

    a {
        font-family: "Gotham-Bold";
        color: black;
    }
}

p {
    font-family: "Gotham-Bold";
}

a {
    color: black;
}

footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
}


.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.carousel-track {
    display: flex;
    gap: .5rem;
    transition: transform 0.5s ease-in-out;
}

.carousel-track img {
    width: 7rem;
    height: 4rem;
    object-fit: cover;
    border-radius: .5rem;
}