@import 'tailwindcss';




/* Import des fonts */


h1, h2, h3{
    font-family: 'roboto', Times, serif;
    color:Black;
}

p{
    font-family: 'Source Sans 3';
}

a{
    color:black;
}

/*---------CAROUSEL------------*/
  
  .carousel-track {
    display: flex;
    padding: .5rem;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-track img {
    width: 10rem;
    height: 5rem;
    object-fit: cover;
    border-radius: .5rem;
  }
